spring:
  application:
    name: edusphere

  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: ${DB_USERNAME:sa} # Uses 'sa' as default if env var is missing
    password: ${DB_PASSWORD:}   # Uses empty as default if env var is missing

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        # H2Dialect is auto-detected, manually setting it often causes warnings
        format_sql: true

  sql:
    init:
      mode: always
