server:
  port: 8081

spring:
  application:
    name: edusphere
  profiles:
    active: local

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
